* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  :root {
    --achtergrondKleur: #A1D6E2;
    --secundaireAchtergrondKleur: #F1F1F2;
    --tekstAchtergrondKleur: #1995AD;
    --tekstKleur: #212121;
    --mainFont: "Roboto", sans-serif;
    --secondFont: "Roboto slab", sans-serif;
    --secundaireTekstKleur: white;
  }

body {
    background-color: var(--achtergrondKleur);
    margin: auto;
    transition: transform .5s;
    
}

body.slide-right {
    transform: translateX(30vw);
    overflow: hidden;
}

/* globale styling met breakpoints */

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family:  var(--mainFont);
    color: var(--tekstKleur);
}

.text {
    font-family: var(--secondFont);
    font-weight: 300;
    font-size: 1.1em;
    padding-top: .5em;
    color: var(--tekstKleur);
}

.h1 {
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 2.5em;
    color: var(--tekstKleur);
}

.h2 {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-weight: 600;
    font-size: 1.5em;
}

.h3 {
    font-family: var(--mainFont);
    color: var(--tekstKleur);
    font-size: 1em;
}

@media screen and (min-width: 900px) {

    .h1 {
        font-weight: 800;
        font-size: 3.5em;
    }

    .h2 {
        font-size: 2em;
    }

    .text {
        font-size: 1.4em;
    }
}
@media screen and (min-width: 1300px) {

    .h1 {
        font-weight: 800;
        font-size: 4.5em;
    }

    .h2 {
        font-size: 2.4em;
    }

    .text {
        font: 1.8em;
    }
}

.active-state {
    background-color: #1995AD;
    color: white;
}

/* classes voor de scroll animatie */
@media screen and (max-width: 660px) {

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
    }

    .active {
        transform: translateY(0);
        opacity: 1;
    }
}

.navigatiebalk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1.5em 2em .5em 2.3em;
    background-color: var(--secundaireAchtergrondKleur);
    justify-content: space-between;
}

@media  screen and (min-width: 1300px) {
   
    .navigatiebalk {
    padding: 2em 4em 1em 4.3em;
    }
}

.menu-lijst {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    
}

.lijst-item {
    display: block;
    margin-right: .85em;
    padding: .5em 1em;
    border-radius: .9em;
    font-weight: 500;
    font-size: .9em;
}

.lijst-button {
    display: inline-block;
    font-weight: 500;
    font-size: 1em;
    color: var(--tekstAchtergrondKleur);
    border: 2px solid var(--tekstAchtergrondKleur);
    background-color: var(--secundaireAchtergrondKleur);
    padding: .35em .8em;
    border-radius: .6em;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

/* NAVBAR BREAKPOINTS */
@media  screen and (min-width: 930px) {
    
    .lijst-item {
        font-size: 1em;
        margin-right: 1em;
    }

    .lijst-button {
        font-size: 1.2em;
        padding: .4em 1em;
    }
}

@media  screen and (min-width: 1140px) {
    
    .lijst-item {
        font-size: 1.2em;
        margin-right: 1.1em;
    }

    .lijst-button {
        font-size: 1.35em;
        padding: .5em 1.1em;
    }
}

@media  screen and (min-width: 1400px) {
    
    .lijst-item {
        font-size: 1.5em;
        margin-right: 1.2em;
    }

    .lijst-button {
        font-size: 1.5em;
        padding: .6em 1.2em;
    }
}

.lijst-button:hover{
    background-color: #1995AD;
    color: white;
}

.hamburger {
    display: none;
}

/* MENU VOOR MOBIEL */
@media screen and (max-width: 780px) {
   
    .menu-lijst {
        display: flex;
        flex-direction: column;
        float: left;
        align-items: center;
        transform: translateX(-30vw);
        position: fixed;
        top: 0;
        left: 0;
        background: var(--secundaireAchtergrondKleur);
        width: 30vw;
        height: 100vh;
        padding: 1.2em .6em;
    }

    .lijst-item {
        display: flex;
        color: var(--tekstKleur);
        font-size: 1em;
        padding: .7em 1.5em;
        margin-bottom: 1em;
        border-radius: .9em;
        font-weight: 500;
        font-size: 1em;
    }

    .lijst-button {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-right: .2em;
        transition: transform .5s;
    }

    .bar {
        display: block;
        width: 35px;
        height: 4.2px;
        margin: 7px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: var(--tekstKleur);
    }

    .hamburger.active {
        transform: translateX(-24vw);
    }
    @media screen and (min-width: 500px) {
        
        .hamburger.active {
            transform: translateX(-30vw);
        } 
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10.7px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10.7px) rotate(-45deg);
    }
}

.header-wave {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    line-height: 0;
}

.header-wave svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 145px;
    z-index: -1;
}

.header-wave .shape-fill {
    fill: var(--secundaireAchtergrondKleur);
}

.slogan {
    padding: 2em 2em;
}

.slogan a {
    display: inline-block;
    margin-top: 1em;
}

@media screen and (min-width: 900px) {

    .slogan {
        padding: 3em 4em;
    }
}

.buurtcampus-informatie-wave {
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    line-height: 0;
    transform: rotate(180deg);
}

.buurtcampus-informatie-wave svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 130px;
    transform: rotateY(180deg);
}

.buurtcampus-informatie-wave .shape-fill {
    fill: var(--tekstAchtergrondKleur);
}

.buurtcampus-informatie-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--tekstAchtergrondKleur);
    justify-content: center;
}

.buurtcampus-informatie {
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: none;
    padding: 2em 2em;
    max-width: 500px;
}

@media screen and (min-width: 780px) {

    .buurtcampus-informatie {
        max-width: 350px;
    }
}

@media screen and (min-width: 920px) {

    .buurtcampus-informatie {
        max-width: 420px;
    }
}

.info-container {
    background-color: var(--achtergrondKleur);
    border-radius: 1em;
    
}

.info-image {
    border-radius: 1em 1em 0 0;
    width: 100%;
    height: auto;
    margin-right: auto;
}

.buurtcampus-informatie h2, .buurtcampus-informatie p {
    padding: .9em .7em 0 2rem;
}

.buurtcampus-informatie a {
    display: inline-block;
    margin: .9em .7em .9em 1.9rem;
}

.initiatieven {
    position: relative;
}

.initiatief-wave-top {
    /* position: absolute; */
    left: 0;
    transform: rotate(180deg);
    width: 100%;
    overflow: hidden;
    z-index: -1;
    line-height: 0;
}

.initiatief-wave-top svg {
    position: absolute;
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 154px;
    margin-bottom: .3em;
}

.initiatief-wave-top .shape-fill {
    fill: #1995AD;
}

.initiatief-kaartlijst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em 2em;
    justify-content: center;
    padding: 2em 2em;
    background-color: #1995AD;
    
}

/* .pijl-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.pijl {
	width: 45px;
	height: 45px;
	position: absolute;
    z-index: 20;
	bottom: 30px;
	margin: auto;
	transition: ease-in;
	animation: down 1.5s infinite;
	-webkit-animation: bounce 1.5s infinite;
}

.pijl::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 13px;
	width: 24px;
	height: 24px;
	border-left: 2px solid #212121;
	border-bottom: 2px solid #212121;
	transform: rotate(-45deg);
    
}

@keyframes bounce {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes bounce {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

.fade-in {
	opacity: 1;
	transition: 1s all ease-in;
}

.fade-out {
	opacity: 0;
	transition: 1s all ease-out;
}
 */

@media screen and (min-width: 740px) {

    .initiatief-kaartlijst {
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5em 2em;
        justify-content: center;
    }

    .initiatief-kaart {
        width: 320px;
    }

    .initiatief-image-container {
        height: 320px;
    }
}

.initiatief-kaart {
   display: flex;
   position: relative;
   flex-direction: column;
   background-color: var(--secundaireAchtergrondKleur);
   margin-bottom: 1.3em;
   border-radius: 1em;
   width: 280px;
   
}

.initiatief-image-container {
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}

.initiatief-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.kaart-content {
    color: var(--tekstKleur);
    padding: 1em 1em 2em 1em;
    
}

.kaart-content h3 {
    color: var(--tekstKleur);
    margin-bottom: .8rem;
    letter-spacing: .03em;
}

.kaart-content p {
    font-size: 1em;
    margin-top: .4rem;
    letter-spacing: .03em;
}

.lees-meer {
    background-color: var(--tekstAchtergrondKleur);
    color: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: .3em .6em;
    border-radius: .4rem;
}

.footer {
    margin-top: 7em;
    height: 100px;
}

.footer-wave {
    /* position: absolute; */
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    line-height: 0;
}

.footer-wave svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 154px;
}

.footer-wave .shape-fill {
    fill: #1995AD;
}

/* Styling voor de like knop */
.heart-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--secundaireAchtergrondKleur);
    border-radius: 8px;
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.352), 0 2px 4px -2px rgba(0, 0, 0, 0.296);
    bottom: 14px;
    left: 14px;
    padding: 0 10px 0 6px;
  }
  
  .heart-checkbox span {
    color: gray;
    font-size: 24px;
  }
  
  .heart-checkbox input {
    opacity: 0;
    cursor: pointer;
    display: none;
  }
  
  .heart-checkbox .fa-heart {
    font-size: 22px;
    height: 40px;
    width: 40px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secundaireAchtergrondKleur);
    border-radius: 8px;
  }
  
  .heart-checkbox input:checked + i.fa-heart {
    color: red;
  }
  